i
	cursor: pointer
	display: inline-block

	&.facebook
		$icon('facebook', 30px, 40px)
		background-size: 30px 40px

	&.twitter
		$icon('twitter', 40px, 40px)
		background-size: 40px 40px

	&.youtube
		$icon('youtube', 45px, 40px)
		background-size: 45px 40px
