$colors = {
	red: {
		base: #ff1744,
		fun: #FF5252
	}
}

$color(color, tone = 'base')
	return $colors[color][tone]

/* $color('NameColor') Sin Tono toma Base */
/* $color('NameColor', 'ToneColor') Con Tono de color */
