$icons = {}

$icon(icon, width = 25px, height = 25px)
	background: url($icons[icon]) no-repeat
	height: height
	width: width

$before-after(icon, width, height)
	$icon(icon, width, height)
	content: ' '
	display: inline-table
	margin-right: 3px
	vertical-align: middle

$icon-after(icon, width, height)
	&:after
		$before-after(icon, width, height)

$icon-before(icon, width, height)
	&:before
		$before-after(icon, width, height)
		background-size: width height
