$icons = {
	call-us: '../assets/icons/call-us.png',
	contact-us: '../assets/icons/contact-us.png',
	credit-cards: '../assets/icons/credit-cards.png',
	customer-area: '../assets/icons/customer-area.png',
	customer-service: '../assets/icons/customer-service.png',
	experiences: '../assets/icons/experiences.png',
	facebook: '../assets/icons/facebook.png',
	join-us: '../assets/icons/join-us.png',
	loans: '../assets/icons/loans.png',
	offices: '../assets/icons/offices.png',
	savings-and-investments: '../assets/icons/savings-and-investments.png',
	services: '../assets/icons/services.png',
	twitter: '../assets/icons/twitter.png',
	youtube: '../assets/icons/youtube.png'
}

$icon(icon, width = 25px, height = 25px)
	background: url($icons[icon]) no-repeat
	height: height
	width: width

$before-after(icon, width, height)
	$icon(icon, width, height)
	content: ' '
	display: inline-table
	margin-right: 3px
	vertical-align: middle

$icon-after(icon, width, height)
	&:after
		$before-after(icon, width, height)

$icon-before(icon, width, height)
	&:before
		$before-after(icon, width, height)
		background-size: width height
